{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
<style>
    .content{background-image: url(https://th.bing.com/th/id/OIP.6mM6HBD24NgiYPky6fy77QHaDt?rs=1&pid=ImgDetMain)
</style>
<div class="content">
    <h1 style="font-family: cursive; color: lightseagreen;">ACCOUNT CREATION</h1><br>
    <img align="right" src="{{url_for('static',filename='signin.png')}}" alt="QR" width="550" height="500"><br>
    
    <form action="/create_account.html" method='POST'>
        <p style="font-size: 14pt;">Enter username:<input style = "height:50px;font-size: 14pt;" type="text" name="usern" id='usern' placeholder="Username"></p><br>
        <p style="font-size: 14pt;">Enter password:<input style = "height:50px;font-size: 14pt;" type="Password" name="passw" id="passw" placeholder="Password"></p><br><br>
        <p style="font-size: 14pt;">Enter Email-id:<input style = "height:50px;font-size: 14pt;" type="email" name="email" id="email" placeholder="something@gmail.com"></p><br><br>
        <input type="submit" value="Create Account" id="s">

    </form>
    <br><br><br><br><br><br><br><br>
</div>
{% endblock %}